In [1]:
import requests
import numpy as np
import pandas as pd

In [2]:
standings_url = "https://kworb.net/spotify/country/nl_daily_totals.html"
data = requests.get(standings_url)
netherland = pd.read_html(data.text)[0]
netherland.head(700)

,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,1,Davina Michelle - Duurt Te Lang,1301,142.0,1,(x59),445121,92745717
1,2,The Weeknd - Blinding Lights,1071,187.0,1,(x46),299351,87060564
2,3,Lewis Capaldi - Someone You Loved,1339,44.0,7,NaN,180101,82016537
3,4,Ed Sheeran - Shape of You,989,148.0,1,(x68),415302,77209274
4,5,Tones And I - Dance Monkey,777,174.0,1,(x104),421445,76835054
...,...,...,...,...,...,...,...,...
695,696,Sean Paul - Mad Love,184,NaN,19,NaN,122108,11273556
696,697,Ali Gatie - It's You,234,NaN,38,NaN,82903,11266340
697,698,Ava Max - Salt,207,NaN,30,NaN,92085,11261208
698,699,Boef - ANTWOORD,135,32.0,1,(x10),437850,11238199
699,700,Armin van Buuren - Therapy,177,NaN,22,NaN,101125,11237742

In [3]:
netherland.insert(0, 'Country', 'Netherland')
netherland.head(700)

,Country,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,Netherland,1,Davina Michelle - Duurt Te Lang,1301,142.0,1,(x59),445121,92745717
1,Netherland,2,The Weeknd - Blinding Lights,1071,187.0,1,(x46),299351,87060564
2,Netherland,3,Lewis Capaldi - Someone You Loved,1339,44.0,7,NaN,180101,82016537
3,Netherland,4,Ed Sheeran - Shape of You,989,148.0,1,(x68),415302,77209274
4,Netherland,5,Tones And I - Dance Monkey,777,174.0,1,(x104),421445,76835054
...,...,...,...,...,...,...,...,...,...
695,Netherland,696,Sean Paul - Mad Love,184,NaN,19,NaN,122108,11273556
696,Netherland,697,Ali Gatie - It's You,234,NaN,38,NaN,82903,11266340
697,Netherland,698,Ava Max - Salt,207,NaN,30,NaN,92085,11261208
698,Netherland,699,Boef - ANTWOORD,135,32.0,1,(x10),437850,11238199
699,Netherland,700,Armin van Buuren - Therapy,177,NaN,22,NaN,101125,11237742

In [4]:
standings_url = "https://kworb.net/spotify/country/kr_daily_totals.html"
data = requests.get(standings_url)
skr = pd.read_html(data.text)[0]
skr.head(700)

,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,1,BTS - Butter,533,193.0,1,(x49),69078,5540855
1,2,The Kid LAROI - Stay,486,273.0,1,(x44),22722,4940013
2,3,IVE - LOVE DIVE,216,193.0,1,(x54),39474,4274820
3,4,Justin Bieber - Peaches,597,166.0,1,(x52),25160,4010167
4,5,BTS - Dynamite,644,181.0,1,(x33),30389,4005153
...,...,...,...,...,...,...,...,...
695,696,"sokodomo - BE ! (Feat. Paloalto, lIlBOI) (Prod...",27,NaN,14,NaN,7549,89803
696,697,TREASURE - JIKJIN,45,NaN,81,NaN,2492,89381
697,698,V - Christmas Tree - Inst.,47,NaN,54,NaN,2948,89175
698,699,"SINCE - FACE TIME (Feat. GIRIBOY, pH-1, Gaeko)...",29,NaN,19,NaN,6339,88994
699,700,Taylor Swift - Question...?,17,NaN,32,NaN,8811,88109

In [5]:
skr.insert(0, 'Country', 'South Korea')
skr.head(700)

,Country,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,South Korea,1,BTS - Butter,533,193.0,1,(x49),69078,5540855
1,South Korea,2,The Kid LAROI - Stay,486,273.0,1,(x44),22722,4940013
2,South Korea,3,IVE - LOVE DIVE,216,193.0,1,(x54),39474,4274820
3,South Korea,4,Justin Bieber - Peaches,597,166.0,1,(x52),25160,4010167
4,South Korea,5,BTS - Dynamite,644,181.0,1,(x33),30389,4005153
...,...,...,...,...,...,...,...,...,...
695,South Korea,696,"sokodomo - BE ! (Feat. Paloalto, lIlBOI) (Prod...",27,NaN,14,NaN,7549,89803
696,South Korea,697,TREASURE - JIKJIN,45,NaN,81,NaN,2492,89381
697,South Korea,698,V - Christmas Tree - Inst.,47,NaN,54,NaN,2948,89175
698,South Korea,699,"SINCE - FACE TIME (Feat. GIRIBOY, pH-1, Gaeko)...",29,NaN,19,NaN,6339,88994
699,South Korea,700,Taylor Swift - Question...?,17,NaN,32,NaN,8811,88109

In [6]:
standings_url = "https://kworb.net/spotify/country/es_daily_totals.html"
data = requests.get(standings_url)
spain = pd.read_html(data.text)[0]
spain.head(700)

,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,1,Rauw Alejandro - Todo De Ti,534,147.0,1,(x50),1682968,152405467
1,2,"Bizarrap - Quevedo: Bzrp Music Sessions, Vol. 52",124,123.0,1,(x101),2599771,133768528
2,3,Danny Ocean - Me RehÃºso,1546,272.0,1,(x1),340566,129282285
3,4,KAROL G - Tusa,752,170.0,1,(x100),689105,128360114
4,5,C. Tangana - TÃº Me Dejaste De Querer,730,140.0,1,(x8),1631995,127802146
...,...,...,...,...,...,...,...,...
695,696,The Weeknd - Starboy,248,20.0,7,NaN,144406,18650752
696,697,"Morat - Yo Contigo, TÃº Conmigo - The Gong Gon...",281,NaN,15,NaN,124444,18610539
697,698,Adele - Easy On Me,212,NaN,15,NaN,285474,18594506
698,699,Jennifer Lopez - El Anillo,171,20.0,7,NaN,267533,18591841
699,700,Sebastian Yatra - TBT,279,NaN,40,NaN,112947,18467973

In [7]:
spain.insert(0, 'Country', 'Spain')
spain.head(700)

,Country,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,Spain,1,Rauw Alejandro - Todo De Ti,534,147.0,1,(x50),1682968,152405467
1,Spain,2,"Bizarrap - Quevedo: Bzrp Music Sessions, Vol. 52",124,123.0,1,(x101),2599771,133768528
2,Spain,3,Danny Ocean - Me RehÃºso,1546,272.0,1,(x1),340566,129282285
3,Spain,4,KAROL G - Tusa,752,170.0,1,(x100),689105,128360114
4,Spain,5,C. Tangana - TÃº Me Dejaste De Querer,730,140.0,1,(x8),1631995,127802146
...,...,...,...,...,...,...,...,...,...
695,Spain,696,The Weeknd - Starboy,248,20.0,7,NaN,144406,18650752
696,Spain,697,"Morat - Yo Contigo, TÃº Conmigo - The Gong Gon...",281,NaN,15,NaN,124444,18610539
697,Spain,698,Adele - Easy On Me,212,NaN,15,NaN,285474,18594506
698,Spain,699,Jennifer Lopez - El Anillo,171,20.0,7,NaN,267533,18591841
699,Spain,700,Sebastian Yatra - TBT,279,NaN,40,NaN,112947,18467973

In [8]:
standings_url = "https://kworb.net/spotify/country/se_daily_totals.html"
data = requests.get(standings_url)
sweden = pd.read_html(data.text)[0]
sweden.head(700)

,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,1,Victor Leksell - Svag,1023,416.0,1,(x104),616916,105074539
1,2,The Weeknd - Blinding Lights,1069,297.0,1,(x52),277607,83173547
2,3,Avicii - Without You,1500,148.0,1,(x41),483529,82245375
3,4,Ed Sheeran - Shape of You,909,165.0,1,(x54),446067,80881425
4,5,Tones And I - Dance Monkey,892,226.0,1,(x66),317763,68993768
...,...,...,...,...,...,...,...,...
695,696,Ant Wan - 1942,274,15.0,3,(x1),144713,9873714
696,697,Benny Anderssons Orkester - Nu tÃ¤ndas tusen j...,187,NaN,15,NaN,284792,9862805
697,698,Drake - Passionfruit,149,25.0,7,NaN,197325,9850984
698,699,P!nk - What About Us,199,NaN,16,NaN,112492,9829387
699,700,Thomas StenstrÃ¶m - Sista sommaren,198,3.0,7,NaN,204087,9806475

In [9]:
sweden.insert(0, 'Country', 'Sweden')
sweden.head(700)

,Country,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,Sweden,1,Victor Leksell - Svag,1023,416.0,1,(x104),616916,105074539
1,Sweden,2,The Weeknd - Blinding Lights,1069,297.0,1,(x52),277607,83173547
2,Sweden,3,Avicii - Without You,1500,148.0,1,(x41),483529,82245375
3,Sweden,4,Ed Sheeran - Shape of You,909,165.0,1,(x54),446067,80881425
4,Sweden,5,Tones And I - Dance Monkey,892,226.0,1,(x66),317763,68993768
...,...,...,...,...,...,...,...,...,...
695,Sweden,696,Ant Wan - 1942,274,15.0,3,(x1),144713,9873714
696,Sweden,697,Benny Anderssons Orkester - Nu tÃ¤ndas tusen j...,187,NaN,15,NaN,284792,9862805
697,Sweden,698,Drake - Passionfruit,149,25.0,7,NaN,197325,9850984
698,Sweden,699,P!nk - What About Us,199,NaN,16,NaN,112492,9829387
699,Sweden,700,Thomas StenstrÃ¶m - Sista sommaren,198,3.0,7,NaN,204087,9806475

In [10]:
standings_url = "https://kworb.net/spotify/country/us_daily_totals.html"
data = requests.get(standings_url)
us = pd.read_html(data.text)[0]
us.head(700)

,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,1,Post Malone - Sunflower - Spider-Man: Into the...,1479,302.0,1,(x29),2118242,875548937
1,2,Juice WRLD - Lucid Dreams,1644,178.0,1,(x20),2127668,856947274
2,3,Lil Uzi Vert - XO TOUR Llif3,1852,212.0,1,(x4),1660502,780894235
3,4,Post Malone - rockstar,1223,186.0,1,(x124),2905678,718865961
4,5,J. Cole - No Role Modelz,2495,6.0,7,NaN,606013,706412156
...,...,...,...,...,...,...,...,...
695,696,Lil Uzi Vert - New Patek,161,10.0,1,(x1),1812305,74465767
696,697,Flo Rida - GDFR,338,77.0,4,NaN,464052,74323833
697,698,Logic - Everyday,185,8.0,4,NaN,1481252,74094592
698,699,Marc E. Bassy - You & Me,214,NaN,16,NaN,619529,74019535
699,700,Billie Eilish - bellyache,257,NaN,39,NaN,522259,73988829

In [11]:
us.insert(0, 'Country', 'USA')
us.head(1000)

,Country,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,USA,1,Post Malone - Sunflower - Spider-Man: Into the...,1479,302.0,1,(x29),2118242,875548937
1,USA,2,Juice WRLD - Lucid Dreams,1644,178.0,1,(x20),2127668,856947274
2,USA,3,Lil Uzi Vert - XO TOUR Llif3,1852,212.0,1,(x4),1660502,780894235
3,USA,4,Post Malone - rockstar,1223,186.0,1,(x124),2905678,718865961
4,USA,5,J. Cole - No Role Modelz,2495,6.0,7,NaN,606013,706412156
...,...,...,...,...,...,...,...,...,...
995,USA,996,The Chainsmokers - Call You Mine,125,NaN,20,NaN,702046,49745871
996,USA,997,Milky Chance - Stolen Dance,353,NaN,18,NaN,217719,49660656
997,USA,998,Echosmith - Cool Kids,274,63.0,4,NaN,340219,49643988
998,USA,999,Eminem - The Real Slim Shady,190,NaN,16,NaN,543319,49531019
999,USA,1000,A$AP Rocky - F**kin' Problems,528,NaN,111,NaN,194902,49467361

In [12]:
standings_url = "https://kworb.net/spotify/country/de_daily_totals.html"
data = requests.get(standings_url)
germany = pd.read_html(data.text)[0]
germany.head(1200)

,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,1,Apache 207 - Roller,1168,220.0,1,(x97),1357504,270545835
1,2,The Weeknd - Blinding Lights,1061,165.0,1,(x2),643705,202480959
2,3,Tones And I - Dance Monkey,853,199.0,2,(x28),896905,185511674
3,4,Bonez MC - Ohne mein Team,2033,112.0,3,(x9),311947,173107733
4,5,Bonez MC - 500 PS,1121,122.0,1,(x12),869195,151965327
...,...,...,...,...,...,...,...,...
1195,1196,Doja Cat - Need To Know,140,NaN,32,NaN,169069,13459066
1196,1197,Shirin David - Brillis,71,7.0,3,(x1),622017,13454598
1197,1198,Danny Ocean - Me RehÃºso,236,NaN,53,NaN,98123,13444725
1198,1199,David Guetta - If You Really Love Me (How Will...,144,NaN,47,NaN,171920,13433849
1199,1200,Ufo361 - Gib Gas,92,11.0,2,(x1),965690,13403816

In [13]:
germany.insert(0, 'Country', 'Germany')
germany.head(1000)

,Country,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,Germany,1,Apache 207 - Roller,1168,220.0,1,(x97),1357504,270545835
1,Germany,2,The Weeknd - Blinding Lights,1061,165.0,1,(x2),643705,202480959
2,Germany,3,Tones And I - Dance Monkey,853,199.0,2,(x28),896905,185511674
3,Germany,4,Bonez MC - Ohne mein Team,2033,112.0,3,(x9),311947,173107733
4,Germany,5,Bonez MC - 500 PS,1121,122.0,1,(x12),869195,151965327
...,...,...,...,...,...,...,...,...,...
995,Germany,996,Luciano - SHAWTY,145,7.0,2,(x2),674697,15901232
996,Germany,997,Sam Feldt - Post Malone,192,NaN,59,NaN,180516,15882916
997,Germany,998,Capital Bra - Bye Bye,119,4.0,4,NaN,671366,15880333
998,Germany,999,Nimo - ZART,107,4.0,8,NaN,442730,15877674
999,Germany,1000,Felix Jaehn - SICKO,146,NaN,51,NaN,184206,15846665

In [14]:
standings_url = "https://kworb.net/spotify/country/sg_daily_totals.html"
data = requests.get(standings_url)
singapore = pd.read_html(data.text)[0]
singapore.head(1200)

,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,1,James Arthur - Say You Won't Let Go,2236,155.0,1,(x2),44694,31402426
1,2,Ed Sheeran - Shape of You,1906,231.0,1,(x86),93093,29375376
2,3,"Eric Chou - ä½ ,å¥½ä¸å¥½? - Ending Theme Song...",2338,NaN,20,NaN,21747,28743583
3,4,Ed Sheeran - Perfect,2075,145.0,1,(x5),60670,27638146
4,5,Lewis Capaldi - Someone You Loved,1389,376.0,4,NaN,45961,27424541
...,...,...,...,...,...,...,...,...
1195,1196,Khalid - Know Your Worth,104,NaN,37,NaN,18424,893755
1196,1197,Sam Smith - I'm Not The Only One,92,75.0,1,(x4),13292,892221
1197,1198,Hael Husaini - Jampi,124,NaN,51,NaN,12433,890647
1198,1199,Megan Thee Stallion - Savage Remix,84,NaN,27,NaN,14928,890474
1199,1200,Harry Styles - Golden,120,NaN,58,NaN,10973,889518

In [15]:
singapore.insert(0, 'Country', 'Singapore')
singapore.head(1000)

,Country,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,Singapore,1,James Arthur - Say You Won't Let Go,2236,155.0,1,(x2),44694,31402426
1,Singapore,2,Ed Sheeran - Shape of You,1906,231.0,1,(x86),93093,29375376
2,Singapore,3,"Eric Chou - ä½ ,å¥½ä¸å¥½? - Ending Theme Song...",2338,NaN,20,NaN,21747,28743583
3,Singapore,4,Ed Sheeran - Perfect,2075,145.0,1,(x5),60670,27638146
4,Singapore,5,Lewis Capaldi - Someone You Loved,1389,376.0,4,NaN,45961,27424541
...,...,...,...,...,...,...,...,...,...
995,Singapore,996,Justin Bieber - Company,308,NaN,26,NaN,8967,1217486
996,Singapore,997,FINNEAS - Let's Fall in Love for the Night,197,NaN,111,NaN,7161,1217044
997,Singapore,998,Hugh Jackman - The Other Side,108,NaN,23,NaN,24011,1214860
998,Singapore,999,Lady Gaga - Hold My Hand,119,NaN,28,NaN,16394,1214767
999,Singapore,1000,Charlie Puth - Marvin Gaye,317,NaN,55,NaN,10314,1212326

In [16]:
standings_url = "https://kworb.net/spotify/country/gb_daily_totals.html"
data = requests.get(standings_url)
uk = pd.read_html(data.text)[0]
uk.head(1200)

,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,1,The Killers - Mr. Brightside,2879,2.0,9,NaN,279141,242242339
1,2,Lewis Capaldi - Someone You Loved,1405,283.0,1,(x26),667950,237025724
2,3,Ed Sheeran - Shape of You,1527,139.0,1,(x59),1322199,213122413
3,4,The Weeknd - Blinding Lights,1072,237.0,1,(x70),637003,194176147
4,5,Drake - One Dance,1548,162.0,1,(x101),842439,186283601
...,...,...,...,...,...,...,...,...
1195,1196,Charli XCX - After the Afterparty,136,NaN,33,NaN,166817,11566652
1196,1197,Dua Lipa - Kiss and Make Up,99,NaN,32,NaN,158724,11528276
1197,1198,Lord Huron - The Night We Met,192,NaN,52,NaN,106578,11526694
1198,1199,Benson Boone - In The Stars,142,NaN,18,NaN,182728,11522307
1199,1200,Imagine Dragons - Enemy,88,NaN,15,NaN,170237,11518109

In [17]:
uk.insert(0, 'Country', 'United Kingdom')
uk.head(1000)

,Country,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,United Kingdom,1,The Killers - Mr. Brightside,2879,2.0,9,NaN,279141,242242339
1,United Kingdom,2,Lewis Capaldi - Someone You Loved,1405,283.0,1,(x26),667950,237025724
2,United Kingdom,3,Ed Sheeran - Shape of You,1527,139.0,1,(x59),1322199,213122413
3,United Kingdom,4,The Weeknd - Blinding Lights,1072,237.0,1,(x70),637003,194176147
4,United Kingdom,5,Drake - One Dance,1548,162.0,1,(x101),842439,186283601
...,...,...,...,...,...,...,...,...,...
995,United Kingdom,996,Matoma - False Alarm,193,NaN,34,NaN,134898,14628277
996,United Kingdom,997,Imagine Dragons - Demons,541,NaN,54,NaN,63815,14605191
997,United Kingdom,998,One Direction - Steal My Girl,195,69.0,2,(x11),162498,14595865
998,United Kingdom,999,Krept & Konan - Freak Of The Week,250,NaN,14,NaN,172827,14589775
999,United Kingdom,1000,Dermot Kennedy - Better Days,201,NaN,53,NaN,104590,14575901

In [18]:
standings_url = "https://kworb.net/spotify/country/ca_daily_totals.html"
data = requests.get(standings_url)
canada = pd.read_html(data.text)[0]
canada.head(1200)

,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,1,Post Malone - Sunflower - Spider-Man: Into the...,1475,237.0,1,(x2),254842,114700041
1,2,The Weeknd - Blinding Lights,1070,262.0,1,(x13),350585,105355811
2,3,Lewis Capaldi - Someone You Loved,1392,100.0,2,(x4),169175,99771760
3,4,Tones And I - Dance Monkey,1153,207.0,1,(x28),269396,97153213
4,5,Juice WRLD - Lucid Dreams,1589,88.0,1,(x2),253417,95600660
...,...,...,...,...,...,...,...,...
1195,1196,Jonas Brothers - Like It's Christmas,82,NaN,32,NaN,190887,4839776
1196,1197,The Weeknd - Is There Someone Else?,76,8.0,2,(x2),269874,4835277
1197,1198,Justin Bieber - As I Am,56,14.0,2,(x2),276658,4818957
1198,1199,H.E.R. - Best Part,147,NaN,80,NaN,47451,4818482
1199,1200,blackbear - me & ur ghost,112,NaN,64,NaN,60002,4814044

In [19]:
canada.insert(0, 'Country', 'Canada')
canada.head(1000)

,Country,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,Canada,1,Post Malone - Sunflower - Spider-Man: Into the...,1475,237.0,1,(x2),254842,114700041
1,Canada,2,The Weeknd - Blinding Lights,1070,262.0,1,(x13),350585,105355811
2,Canada,3,Lewis Capaldi - Someone You Loved,1392,100.0,2,(x4),169175,99771760
3,Canada,4,Tones And I - Dance Monkey,1153,207.0,1,(x28),269396,97153213
4,Canada,5,Juice WRLD - Lucid Dreams,1589,88.0,1,(x2),253417,95600660
...,...,...,...,...,...,...,...,...,...
995,Canada,996,Frank Sinatra - Mistletoe And Holly - Remaster...,116,NaN,23,NaN,236274,6148500
996,Canada,997,The Weeknd - Sacrifice,88,13.0,1,(x8),322225,6141314
997,Canada,998,benny blanco - I Canât Get Enough (benny bla...,104,NaN,14,NaN,116690,6132332
998,Canada,999,Kevin Gates - Really Really,358,NaN,68,NaN,27625,6125609
999,Canada,1000,Kanye West - Follow God,71,13.0,1,(x3),362832,6111224

In [20]:
standings_url = "https://kworb.net/spotify/country/br_daily_totals.html"
data = requests.get(standings_url)
brazil = pd.read_html(data.text)[0]
brazil.head(1200)

,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,1,Henrique & Juliano - ArranhÃ£o - Ao Vivo,457,149.0,1,(x27),1528523,246751066
1,2,JoÃ£o Gomes - Meu PedaÃ§o de Pecado,502,124.0,1,(x61),1794033,220416102
2,3,Israel & Rodolffo - Batom de Cereja - Ao Vivo,430,130.0,1,(x54),1899844,208291242
3,4,Matheus Fernandes - Baby Me Atende,527,94.0,3,(x25),1148456,206531314
4,5,George Henrique & Rodrigo - Vai LÃ¡ Em Casa Hoje,380,116.0,1,(x13),1719874,204429551
...,...,...,...,...,...,...,...,...
1195,1196,Luan Santana - ILHA,97,NaN,52,NaN,305945,15951909
1196,1197,Sam Smith - How Do You Sleep?,125,NaN,26,NaN,214882,15848357
1197,1198,LUDMILLA - ClichÃª (ParticipaÃ§Ã£o especial de...,138,NaN,60,NaN,168820,15835942
1198,1199,JoÃ£o Neto & Frederico - Saudade do Caramba - ...,191,NaN,62,NaN,120247,15827323
1199,1200,Leo Santana - SÃ³ VocÃª,125,NaN,73,NaN,198033,15796239

In [21]:
brazil.insert(0, 'Country', 'Brazil')
brazil.head(1000)

,Country,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,Brazil,1,Henrique & Juliano - ArranhÃ£o - Ao Vivo,457,149.0,1,(x27),1528523,246751066
1,Brazil,2,JoÃ£o Gomes - Meu PedaÃ§o de Pecado,502,124.0,1,(x61),1794033,220416102
2,Brazil,3,Israel & Rodolffo - Batom de Cereja - Ao Vivo,430,130.0,1,(x54),1899844,208291242
3,Brazil,4,Matheus Fernandes - Baby Me Atende,527,94.0,3,(x25),1148456,206531314
4,Brazil,5,George Henrique & Rodrigo - Vai LÃ¡ Em Casa Hoje,380,116.0,1,(x13),1719874,204429551
...,...,...,...,...,...,...,...,...,...
995,Brazil,996,MarÃ­lia MendonÃ§a - Impasse - Ao Vivo,357,NaN,39,NaN,205797,21350256
996,Brazil,997,Fifth Harmony - Worth It,593,87.0,2,(x3),69758,21272593
997,Brazil,998,Calvin Harris - Blame,638,235.0,1,(x130),51733,21073369
998,Brazil,999,Gustavo Mioto - Despedida De Casal,164,NaN,66,NaN,224539,21062808
999,Brazil,1000,JoÃ£o Bosco & Vinicius - Segunda TaÃ§a - Ao Vivo,128,NaN,52,NaN,312912,21045827

In [22]:
some_countries = pd.concat([netherland, sweden, skr, germany, canada, singapore, spain, us, brazil, uk])

In [23]:
some_countries

,Country,Pos,Artist and Title,Days,T10,Pk,(x?),PkStreams,Total
0,Netherland,1,Davina Michelle - Duurt Te Lang,1301,142.0,1,(x59),445121,92745717
1,Netherland,2,The Weeknd - Blinding Lights,1071,187.0,1,(x46),299351,87060564
2,Netherland,3,Lewis Capaldi - Someone You Loved,1339,44.0,7,NaN,180101,82016537
3,Netherland,4,Ed Sheeran - Shape of You,989,148.0,1,(x68),415302,77209274
4,Netherland,5,Tones And I - Dance Monkey,777,174.0,1,(x104),421445,76835054
...,...,...,...,...,...,...,...,...,...
10283,United Kingdom,10284,Calvin Harris - Together,1,NaN,188,NaN,12523,12523
10284,United Kingdom,10285,Mallory Knox - Shout at the Moon,1,NaN,195,NaN,12330,12330
10285,United Kingdom,10286,Kim Cesarion - Undressed,1,NaN,194,NaN,12093,12093
10286,United Kingdom,10287,Ben Howard - Old Pine,1,NaN,189,NaN,11967,11967
10287,United Kingdom,10288,Gorgon City - Unmissable,1,NaN,198,NaN,11871,11871

In [24]:
dataset_of_10_countries = some_countries[['Country','Artist and Title','Pk','(x?)','PkStreams','Total']]

In [25]:
dataset_of_10_countries

,Country,Artist and Title,Pk,(x?),PkStreams,Total
0,Netherland,Davina Michelle - Duurt Te Lang,1,(x59),445121,92745717
1,Netherland,The Weeknd - Blinding Lights,1,(x46),299351,87060564
2,Netherland,Lewis Capaldi - Someone You Loved,7,NaN,180101,82016537
3,Netherland,Ed Sheeran - Shape of You,1,(x68),415302,77209274
4,Netherland,Tones And I - Dance Monkey,1,(x104),421445,76835054
...,...,...,...,...,...,...
10283,United Kingdom,Calvin Harris - Together,188,NaN,12523,12523
10284,United Kingdom,Mallory Knox - Shout at the Moon,195,NaN,12330,12330
10285,United Kingdom,Kim Cesarion - Undressed,194,NaN,12093,12093
10286,United Kingdom,Ben Howard - Old Pine,189,NaN,11967,11967
10287,United Kingdom,Gorgon City - Unmissable,198,NaN,11871,11871

In [26]:
piv_1 = dataset_of_10_countries.pivot_table(index=['Country'], columns=['Artist and Title'], values='Total')

In [27]:
piv_1

Artist and Title,$NOT - Doja,$NOT - Whipski,$OHO BANI - INZIDANCE,$OHO BANI - KIDS,$OHO BANI - OLYMPIA,$OHO BANI - PLACEBO,$OHO BANI - TRÃUME GROÃ,$OHO BANI - VIRAL,$OHO BANI - leise,$hirak - Allemaal Zo Zijn,...,é«ç¾å®£ OSN - Without You,"é­å¥å¥ - æ,å­å¨",é»éé² - æè¾°å¤§æµ·,ë°ì´ë¨¼ì¤ ì´ì´ Damons year - josee!,ë°ì´ë¨¼ì¤ ì´ì´ Damons year - yours,ì´ë°±ê¸¸ - ëì´ë¥¼ ë¨¹ëë¤ - Instrumental,ì´ë°±ê¸¸ - ë¬ë¦°ë¤ ìë²ì§,ì´ë°±ê¸¸ - ì­ë ì ì ì´ë³´ì¬ì,ì´ë°±ê¸¸ - ì­ë ì ì ì´ë³´ì¬ì - Instrumental,ì´ë°±ê¸¸ - ì­ë ì ì ì´ë³´ì¬ì - Remix Version
Country,,,,,,,,,,,,,,,,,,,,,
Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Canada,723768.0,426548.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Germany,766558.0,NaN,6407367.0,61345.0,1625005.0,81319.0,96949.0,1354516.0,80145.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Netherland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1533500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Singapore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3857433.0,87989.0,647151.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Korea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7770.0,244381.0,7011.0,4541.0,4370.0,7014.0,4581.0
Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
USA,5633307.0,2345511.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
piv_2 = dataset_of_10_countries.pivot_table(index=['Artist and Title'], columns=['Country'], values='Total')

In [29]:
piv_2

Country,Brazil,Canada,Germany,Netherland,Singapore,South Korea,Spain,Sweden,USA,United Kingdom
Artist and Title,,,,,,,,,,
$NOT - Doja,NaN,723768.0,766558.0,NaN,NaN,NaN,NaN,NaN,5633307.0,NaN
$NOT - Whipski,NaN,426548.0,NaN,NaN,NaN,NaN,NaN,NaN,2345511.0,NaN
$OHO BANI - INZIDANCE,NaN,NaN,6407367.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$OHO BANI - KIDS,NaN,NaN,61345.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
$OHO BANI - OLYMPIA,NaN,NaN,1625005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
ì´ë°±ê¸¸ - ëì´ë¥¼ ë¨¹ëë¤ - Instrumental,NaN,NaN,NaN,NaN,NaN,7011.0,NaN,NaN,NaN,NaN
ì´ë°±ê¸¸ - ë¬ë¦°ë¤ ìë²ì§,NaN,NaN,NaN,NaN,NaN,4541.0,NaN,NaN,NaN,NaN
ì´ë°±ê¸¸ - ì­ë ì ì ì´ë³´ì¬ì,NaN,NaN,NaN,NaN,NaN,4370.0,NaN,NaN,NaN,NaN
ì´ë°±ê¸¸ - ì­ë ì ì ì´ë³´ì¬ì - Instrumental,NaN,NaN,NaN,NaN,NaN,7014.0,NaN,NaN,NaN,NaN
ì´ë°±ê¸¸ - ì­ë ì ì ì´ë³´ì¬ì - Remix Version,NaN,NaN,NaN,NaN,NaN,4581.0,NaN,NaN,NaN,NaN

In [30]:
piv_2[44000:47000]

Country,Brazil,Canada,Germany,Netherland,Singapore,South Korea,Spain,Sweden,USA,United Kingdom
Artist and Title,,,,,,,,,,
The Beatles - Across The Universe - Remastered 2009,17390.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
The Beatles - All You Need Is Love - Remastered,106371.0,32749.0,NaN,24019.0,NaN,NaN,115897.0,178932.0,772391.0,172108.0
The Beatles - Blackbird - Remastered,69113.0,12921.0,NaN,16511.0,NaN,NaN,NaN,139117.0,436873.0,20043.0
The Beatles - Can't Buy Me Love - Remastered,NaN,NaN,NaN,NaN,NaN,NaN,11094.0,57690.0,174132.0,23576.0
The Beatles - Can't Buy Me Love - Remastered 2009,47910.0,11429.0,NaN,19837.0,NaN,NaN,49796.0,43185.0,251205.0,88643.0
...,...,...,...,...,...,...,...,...,...,...
Vlad Reiser - Nakna i regnet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2208794.0,NaN,NaN
Vlad Reiser - PrankStar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125007.0,NaN,NaN
Vladimir Cauchemar - Aulos Reloaded,NaN,NaN,137558.0,NaN,NaN,NaN,NaN,16677.0,NaN,NaN
Voices of Winter - O Little Town of Bethlehem,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48129.0,NaN,NaN
Volbeat - Battleship Chains,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16747.0,NaN,NaN

In [31]:
pd.dataset_of_10_countries.to_csv('10countries,csv')

AttributeError: module 'pandas' has no attribute 'dataset_of_10_countries'